/* Estilo para o fundo */
:root{
    font-size: 15px;
    background: #000000;
    transition: all 300ms ease;
    --primaria: #faed27;
    --secundaria: #252525;
    --terciaria: #ac2a2a;
    --svg-som: url("../img/som.svg");
    --svg-BS: url("../img/back.svg");
    --modo: url("../img/lua.svg");
}
.dark-mode{
    --primaria: #000000;
    --secundaria: #ffffff;
    --terciaria: #000000;
    --svg-som: url("../img/som2.svg");
    --svg-BS: url("../img/back2.svg");
    --modo: url("../img/sol.svg");
}
.numerica, .colunaUm, .colunaDois{
    display: flex; 
    flex-direction: column;
    background: none;
}
.linha,.operacoes, .baixo, .comandos{
    display: flex;
    flex-direction: row;
    background: none;
}
.calculadora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23rem;
    margin: 3rem auto 0rem;
    box-sizing: border-box;
    border: 0.5rem solid var(--secundaria);
    border-radius: 0.5rem 0.5rem 5rem 5rem;
    background: var(--terciaria);
}
.main{
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: 0.5rem var(--primaria);
    background: none;
    margin: 3rem auto 0rem;
}
.inputs{
    display: flex;
    flex-direction: column;
    background: var(--secundaria);
    border: 0.2rem solid var(--primaria);
    box-sizing: border-box;
    border-radius: 1rem;
    width: 20rem;
    align-self: center;
}
#conta{
    background: none;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    height: 1.5rem;
    color: var(--primaria);
    padding: 0.2rem 0.5rem 0;
    box-sizing: border-box;
    text-align: right;
    border: none;
    width: auto;
}
#display{
    background: none;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    height: 3rem;
    color: var(--primaria);
    box-sizing: border-box;
    text-align: right;
    padding: 0 1rem;
    border: none;
    width: auto;
}
#display::placeholder{
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.5rem;
    color: var(--primaria);
    opacity: 1;
}
#memoria{
    background: none;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    height: 1.5rem;
    color: var(--primaria);
    padding: 0 1rem;
    box-sizing: border-box;
    text-align: left;
    border: none;
    width: auto;    
}
#memoria::placeholder{
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    text-align: right;
    color: var(--primaria);
    opacity: 1;
}
.teclas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 3rem 0 3rem;
    background: none;
}
#conta:focus, #display:focus, #memoria:focus, #historico:focus{
    outline: none;
}
.botoes{
    display: flex;
    flex-direction: column;
}
button {
    background: var(--primaria);
    color: var(--secundaria);
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;    
    font-size: 1.5rem;
    text-align: center;
    border: none;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    box-sizing: border-box;
    border: 0.2rem solid var(--secundaria);   
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    filter: drop-shadow(0.1rem 0.1rem 0.05rem var(--secundaria));
}
.botaoMais{
    background-color: var(--primaria);
    color: var(--secundaria);
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;    
    font-size: 1.5rem;
    width: 3rem;
    height: 7rem;
    box-sizing: border-box;
    border: 0.2rem solid var(--secundaria);
    border-radius: 1rem;
}
#mutar{
    background-image: var(--svg-som);
    background-repeat: no-repeat;
    background-position: center center;
}
#backspace{
    background-image: var(--svg-BS);
    background-repeat: no-repeat;
    background-position: center center;
}
#dark{
    background-image: var(--modo);
    background-repeat: no-repeat;
    background-position: center center;
}
button:active {
    background-color: var(--terciaria);
}
button>img{
    width: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0.1rem;
}

#rodape{
    flex-direction: column;
    background: none;
    background-color: var(--secundaria);
    box-sizing: border-box;
    border: 0.3rem solid var(--primaria);
    border-radius: 1rem;
    width: 15rem;
}
#historico{
    background: none;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    color: var(--primaria);
    text-align: right;
    padding: 0 1rem ;
    width: auto; 
    height: 100%;
    border: none;   
    resize: none;
    padding: 0.4rem 0.5rem 0.4rem 0;
}
.naoMostrar{
    display: none;
}
.mostrar{
    display: flex;
}
#mostrarHistorico{
    font-size: 1rem;
    height: 2rem;
    width: 8rem;
}

/*    Footer    */

.footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    width: 6rem;
    background: #faed27;
    box-sizing: border-box;
    border: 0.2rem solid #252525;
    border-radius: 10rem;
}
.criador{
    display: none;
    font-size: 1.2rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-weight: 800;
    padding: 0.2rem;
    color: var(--secundaria);
    filter: drop-shadow(0 0.1rem 0.05rem var(--secundaria));
}
.social{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.himage{
    width: 1.2rem;
    padding: 0.2rem;
    margin: 0.5rem;
}

.slider{
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
}